In [77]:
import re

import numpy as np
import pandas as pd
import seaborn as sns

from datetime import datetime

In [2]:
df_sbuzz = pd.read_csv("Box Office/Recruitment x Box Office x Q1 2019 - Twitter.csv", sep="\t")
df_title = pd.read_csv("Box Office/Recruitment x Box Office x Q1 2019 - Titles Performace.csv", sep="\t")

In [3]:
df_sbuzz = df_sbuzz.drop(axis=1, labels=['Unnamed: 0'])
df_sbuzz['title'] = df_sbuzz['title'].str.lower()

df_title['Title'] = df_title['Title'].str.lower()

df_sbuzz['post_date'] = pd.to_datetime([datetime.strptime(x[0], '%Y-%m-%d').date() for x in list(df_sbuzz['post_date_time'].str.split('T'))])
df_sbuzz['post_time'] = [datetime.strptime(x[1].split('.')[0], '%H:%M:%S').time() for x in list(df_sbuzz['post_date_time'].str.split('T'))]

In [4]:
movie_dict = {}
c = 0

for i in df_sbuzz.index:
    if df_sbuzz.at[i, 'title'] not in movie_dict:
        c+=1
        movie_dict[df_sbuzz.at[i, 'title']] = c

for i in df_title.index:
    if df_title.at[i, 'Title'] not in movie_dict:
        c+=1
        movie_dict[df_title.at[i, 'Title']] = c

In [50]:
m = ['Jun. 28–Jul. 1', 'Jan. 24–27', 'May 10–13'] #2018

In [76]:
for i in m:
    j = re.sub("[.]|[ ]", "", i)
    print(j)
    for k in j.split('–'):
        m1 = ''
        if len(k)>3:
            print(k)
            month = m1.join(re.findall("[a-zA-Z]", k))
            day = m1.join(re.findall("[0-9]", k))
            print(month, day)
        else:
            print('{} {}'.format(month, k))
    print('---')

Jun28–Jul1
Jun28
Jun 28
Jul1
Jul 1
---
Jan24–27
Jan24
Jan 24
Jan 27
---
May10–13
May10
May 10
May 13
---

In [31]:
# reformatting should be done better
for i in df_title.index:

    get_range = df_title.at[i, 'Date'].strip().split('–')
    for j in get_range:
        s = ''
        mon1 = j.split('.')
        
        try:
            if len(mon1) > 1:
                monn = mon1[0]
                s = '{}{} {} {}'.format(s, monn, mon1[1], df_title.at[i, 'Year'])
                df_title.at[i, 'begin_date'] = datetime.strptime(s, '%b %d %Y').date()
            else:
                s = '{}{} {} {}'.format(s, monn, mon1[0], df_title.at[i, 'Year'])
                df_title.at[i, 'end_date'] = datetime.strptime(s, '%b %d %Y').date()
            
        except:
                df_title.at[i, 'begin_date'] = s

In [30]:
for j in m.strip().split('–'): #start to end
    s = ''
    for k in j.split('.'):
        s = '{}{}'.format(s, k)
    print(s)

Jun 28
Jul 1

In [34]:
#movie_dict

In [32]:
for i in df_title.index:
    df_title.at[i, 'movie_id_t'] = int(movie_dict[df_title.at[i, 'Title']])
    
for i in df_sbuzz.index:
    df_sbuzz.at[i, 'movie_id_s'] = int(movie_dict[df_sbuzz.at[i, 'title']])

In [8]:
#titles = list(df_title['Title'].unique())

In [9]:
#titles_buzz =  list(df_sbuzz['title'].unique())

In [35]:
#set(titles).intersection(titles_buzz)

In [36]:
df_title.sample(5)

,Title,Date,Year,Rank,Weekend Gross,Gross-to-Date,Week # of release,begin_date,end_date,movie_id_t
191,the grinch,Jan. 24–27,2019,32,"$5,472","$13,029,004",9,2019-01-24,2019-01-27,14.0
105,jurassic world,Sept. 6–9,2018,37,"$3,763","$26,301,953",12,Sept 9 2018,NaN,6.0
156,coco,May 10–13,2018,41,$672,"$9,128,335",20,Apr May 10 2018,2018-04-13,10.0
123,wonder woman,Nov. 2–5,2017,0,NaN,"$23,400,000",23,2017-11-02,2017-11-05,7.0
97,jurassic world,Jul. 5–8,2018,3,"$2,850,212","$19,629,102",3,2018-07-05,2018-07-08,6.0

In [18]:
df_sbuzz.sample(5)

,ID,title,post_link,post_date_time,post_content,user_name,user_bio,user_followers_count,user_followee_count,user_post_count,country,state,language,post_date,post_time,movie_id_s
73918,20,polar,http://twitter.com/4SLars/status/1093996701117...,2019-02-08T22:15:13.000+0000,RT @ItsMigdallTime the polar express but it ta...,4SLars,My sister's cat bit me. https://twitter.com/se...,14797,6874,122515,AUS,NaN,en,2019-02-08,22:15:13,20.0
4558,1,incredibles 2,http://twitter.com/NicoleKinmontxo/status/1017...,2018-07-11T13:51:08.000+0000,RT @mears_o best date ever would be a date on ...,NicoleKinmontxo,sc - nicolekinmont / 19,1054,1622,15092,AUS,Western Australia,en,2018-07-11,13:51:08,2.0
57426,14,the grinch,http://twitter.com/Y2Ashlee/status/10751142485...,2018-12-18T19:43:06.000+0000,I liked a @YouTube video https://t.co/54mYJ2Q4...,Y2Ashlee,"Aspiring Model/Actress HAHA that was a joke, N...",453,528,18272,AUS,NaN,en,2018-12-18,19:43:06,14.0
19908,1,black panther,http://twitter.com/Darkraids/status/9582311552...,2018-01-30T06:51:25.000+0000,RT @KristianHarloff Coogler does it again! 3 f...,Darkraids,90 Year Old Virgin,95,507,9558,AUS,New South Wales,en,2018-01-30,06:51:25,4.0
43008,8,coco,http://twitter.com/maelpharrell/status/9217987...,2017-10-21T18:02:07.000+0000,RT @FCBayern Coco TORlisso! YES! #HSVFCB https...,maelpharrell,♛👑🦉 🇫🇷/🇺🇸,449,370,51922,AUS,NaN,en,2017-10-21,18:02:07,10.0